.burgerConstructor {
    width: 31.25%;
    max-height: 812px;
    overflow: scroll;
    overflow-x: hidden;
}

.orderInfo {
    display: flex;
    width: 568px;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}